button:hover {
  font-weight: bold;
  background-color: rgba(68, 68, 68, 0.212);
  color: #a7a7a7;
}

.chord-container {
  display: inline-block;
  position: relative;
  margin-bottom: 1.3em;
}

.chord {
  position: absolute;
  top: -1.5em;
  /* Ajuste este valor conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}